<div class="home__container">
  <app-card 
  gameCover="assets/bf4.png"
  gameLabel="DIGITAL"
  gameType="DIGITAL | PS4"
  gamePrice="RS 129,99"
  ></app-card>
  <app-card 
  gameCover="assets/knack.png"
  gameLabel="EXCLUSIVE"
  gameType="DISC PS5"
  gamePrice="RS 269,99"
  ></app-card>
  <app-card 
  gameCover="assets/Sound-Shapes.png"
  gameLabel="NEW"
  gameType="DIGITAL | PS3 PS4 PS5"
  gamePrice="RS 99,99"
  ></app-card>
  <app-card 
  gameCover="assets/bf-2042.jpg"
  gameLabel="BEST OF YEAR"
  gameType="DIGITAL | PS5"
  gamePrice="RS 269,99"
  ></app-card>
</div>
